@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Bold.ttf");
  font-weight: 700;
}

:root {
  /*primary*/
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /*neutral*/
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: RedHatDisplay, sans-serif;
  font-weight: 700;
  background-color: #E0E8FF;
}

.container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background: url(../images/pattern-background-desktop.svg) no-repeat top/contain;
}

.card__body {
  border-radius: 20px;
  max-width: 450px;
  box-shadow: 0 10px 20px 0 rgba(114,128,167,0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card__content {
  padding: 44px 47px 48px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.card__title {
  font-size: 29px;
  margin-bottom: 20px;
  color: var(--darkBlue);
  font-weight: 700;
}

.card__text {
  margin-bottom: 20px;
  color: var(--desaturatedBlue);
  text-align: center;
  font-weight: 500;
  line-height: 1.5em;
}

.card__plan {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 25px;
  background-color: #F8F9FE;
  width: 100%;
  border-radius: 10px;
}

.card__plan img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.card__plan-text {
  flex-grow: 1;
}

.card__plan-title {
  margin-bottom: 5px;
  color: var(--darkBlue);
}

.card__plan-price {
  color: var(--desaturatedBlue);
  font-weight: 500;
}

.card__plan-btn {
  font-size: 14px;
  color: #4F3FC3;
  transition: color 0.3s;
}

.card__plan-btn:hover {
  text-decoration: none;
  color: #766CF1;
}

.card__btn-pay {
  background-color: var(--brightBlue);
  box-shadow: 0 20px 20px 0 rgba(56,41,224,0.2);
  margin-bottom: 32px;
  padding: 14px;
  color:#fff;
  text-decoration: none;
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s;
}

.card__btn-pay:hover {
  background-color: #766CF1;
}

.card__btn-cancel {
  text-decoration: none;
  color: var(--desaturatedBlue);
  font-size: 15px;
  transition: color 0.3s;
}

.card__btn-cancel:hover {
  color: var(--darkBlue);
}

.footer {
  padding: 20px;
  background-color: #fff;
}


@media (max-width: 375px) {

  body {
    font-size: 15px;
  }

  .card__content {
    padding: 32px 23px;
  }

  .card__title {
    font-size: 23px;
  }

  .card__text {
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .card__plan {
    padding: 14px;
    margin-bottom: 26px;
  }

  .card__btn-pay {
    margin-bottom: 25px;
  }

}